@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    Layout = "_Layout_common";
}

@model UserInfoModel




<body>






<form enctype="multipart/form-data" id="edit_form" lay-filter="edit_form" asp-controller="UserInfo" asp-action="Create"
    class="layui-form" method="post">


    <input class="layui-hide" data-val="true" type="number" id="id" name="id" value="@Model.Id">
    <div class="layui-form-item" style="margin-top:40px">
        <label  class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input id="Name" name="Name" data-val="true"     type="text" placeholder="@Model.Name" autocomplete="off"
                class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label  class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input id="UserName" name="UserName" data-val="true"    type="text" placeholder="@Model.UserName" autocomplete="off"
                class="layui-input">
        </div>
    </div>




    <div class="layui-form-item">
        <label  class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input id="UserPwd" name="UserPwd" data-val="true"   type="password" placeholder="************"
                autocomplete="off" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item">
        <label  class="layui-form-label">座右铭</label>
        <div class="layui-input-block">
            <input id="Motto" name="Motto" data-val="true"  type="text"  placeholder="@Model.Motto" autocomplete="off"
                class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label  class="layui-form-label" style=" text-overflow:initial">主页图</label>
        <div class="layui-input-block">
            <div class="custom-file">

                <input class="form-control custom-file-input" type="file" data-val="true"  id="MainPagePhoto" name="MainPagePhoto" >
                <label class="custom-file-label">@(Model.MainPagePhoto!=null?Model.MainPagePhoto.FileName:"null")</label>
            </div>
        </div>

    </div>




    <div>
        <div style="text-align:center"></div>
        <button type="button" lay-submit class="layui-btn layui-btn-fluid layui-btn-radius"
            onClick="edit()">Edit</button>

    </div>


</form>



    @section Scripts{

        <script>


            layui.use(['form', 'layedit', 'laydate','table'], function () {
                var form = layui.form
                    , layer = layui.layer
                    , layedit = layui.layedit
                    , laydate = layui.laydate,
                    table=layui.table



                //创建一个编辑器
                var editIndex = layedit.build('LAY_demo_editor');

                //自定义验证规则
                form.verify({


                    Name: function (value) {
                        if (value.length > 15) {
                            return '名字至多只能15个字符啊';
                        }
                    }
                    ,


                    UserName: function (value) {
                        if(value.length==0){
                            return;
                        }
                        if (value.length >15) {
                            return '用户名字至多只能15个字符啊';
                        }
                        if (value.length <5) {
                            return '用户名字至少有5个字符';
                        }
                    }

                    , UserPwd: [
                        /^([\S]{6,12}|)$/
                        , '密码必须6到12位,或者为空'
                    ]
                });


                
                




            });

            //图形加载之后的变化

            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    console.log($(this).val());
                    var filename = $(this).val().split("\\").pop();
                    $(this).next(".custom-file-label").html(filename);
                });

            });




/*





*/

            function edit(){

                var formData=new FormData(document.getElementById('edit_form'))

                $.ajax({
                    type: "POST",
                    processData: false,//这个必须有，不然会报错
                    contentType: false,//这个必须有，不然会报错
                    async:false,
                    headers: {
                        'Authorization': localStorage.getItem("JWTtoken")
                    },
                    url:"/api/UserInfo/Edit",
                    data: formData,
                    success: function(result){
                        console.log(result);
                        if(result.statusCode==200){
                            alert("用户信息修改成功!");
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);




                        }else{

                            alert(result.message);
                        }
                    },
                    error:function(){
                        alert("注册失败！");
                    }

                    
                });
                
            }



        </script>



        <style>

            @* .header {
                font-size: 38px;
                font-weight: bold;
                text-align: center;
                line-height: 200px;
                color: #61dafb;
            }


            .btn_login {
                align-items: center;
            } *@


            .layui-input, .layui-textarea{
                width:90%;

            }

            .layui-btn-fluid{
                width:95%;
            }

        </style>
    }



    </body>
